#header {
  #coin-title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100px;
  }

  #coin-select-container {
    position: absolute;
    top: 10%;
    right: 2%;
  }

  background-color: #eff5ff;
  border-bottom: 3px solid #d5dce8;
  margin-bottom: 8px;
  span {
    color: black;
  }
  button {
    background-color: #f9fbff;
    margin: 0 5px 0 5px;
    border: 2px solid #76a1e8;
    &:hover {
      background-color: #a9c8fc;
    }
  }

  #typeahead-container {
    float: right;
    width: 300px;
  }
}
