#header {
  background-color: #eff5ff;
  border-bottom: 3px solid #d5dce8;
  margin-bottom: 8px;
  span {
    color: black;
  }
  button {
    background-color: #f9fbff;
    margin: 0 5px 0 5px;
  }
}
