#history-container {
  h1 {
    margin-left: 4px;
  }
  button {
    position: relative;
    bottom: 15px;
  }
  .date-selector {
    display: inline-block;
    width: 500px;
    div {
      display: inline-block;
      margin: 0 2px;
    }
    .label {
      margin-left: 33%;
    }
  }
  .year {
    width: 100px;
  }
  .month {
    width: 150px;
  }
  .date {
    width: 200px;
  }
}
