<!DOCTYPE html>
<html>
  <head>
    <title>Crypto-Prices</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'reactComponentRegistration' %>
    <link rel="stylesheet" href="https://unpkg.com/react-bootstrap-typeahead/css/Typeahead.css">
    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
