<!DOCTYPE html>
<html>
  <head>
    <title>Crypto-Prices</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'reactComponentRegistration' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
